<!DOCTYPE html>
<html>
	<head>
		<style>
			body {background-color: white;}
			h1 {color: black;}
			p {color: black;}
		</style>
	</head>
	<body>

		<h1>About Mood Playlist</h1>
		<p>We're a team of three people who believe that everyone should be able to listen to music comfortably depending on their mood.
			Unfortunately, not many services, such as Spotify which is the focus of this website, do not offer options for searching
			specific songs based on the listener's mood. Generally, sites like Spotify focus on playlists that are randomized or based
			on a specific genre, which doesn't match the emotional experience that a person is having. This makes it harder for any
			listener to find a song that is most suitable for a particular mood. </p>
			
		<p>That is why we have came up with a web app that allows you to narrow down a list of songs into a specific category
			of moods. For instance, if you feel sad or depressed, you would want a song that can symphatize with you, or maybe
			you want a song that expresses happiness. The Mood Playlist app can accomplish exactly that.</p>

	</body>
</html>