<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mood Playlist</title>
                <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">            
            </head>
            <body>
                <header>
                    <div class="logo">
                        <a href="index.html" class="logo">
                            <img src="{{ url_for('static', filename='images/mood.png') }}" alt="Logo Image" style="width: 250px; height: auto;">
                        </a>
                    </div>
                    <nav>
                        <div class="nav-links">
                            <a href="#">Recent Playlists</a>
                            <a href="#">Customize</a>
                            <a href="#">Presets</a>
                        </div>
                    </nav>
                    <div class="auth">
                        <a href="{{ url_for('logout') }}">LOGOUT</a>
                    </div>
                </header>
            
                <h1>WHAT'S YOUR MOOD TODAY, {{user_name}}?</h1>
            
                <div class="container1">
                    <div class="left-text">
                        <p>Customize your playlists according to your choice of tempo and genre.</p>
                        <img src="{{ url_for('static', filename='images/books.png') }}" alt="Books Image" style="width: 250px; height: auto;">
                    </div>
            
                    <form method="GET" action="/customize" class="mood-buttons">
                        <div class="mood-buttons">
                            <button type="submit" name="mood" value="happy" class="mood-btn happy">HAPPY</button>
                            <button type="submit" name="mood" value="sad" class="mood-btn sad">SAD</button>
                            <button type="submit" name="mood" value="chill" class="mood-btn chill">CHILL</button>
                            <button type="submit" name="mood" value="angry" class="mood-btn anger">ANGER</button>
                        </div>
                    </form>
            
                    <div class="right-text">
                        <p>Create a playlist that matches your mood in just one click.</p>
                        <img src="{{ url_for('static', filename='images/click.png') }}" alt="Click Image" style="width: 250px; height: auto;">
                    </div>
                </div>
            
                <div id="results"></div>
            
                <footer>
                    <a href="{{ url_for('about') }}">About Us</a>
                </footer>
            
            </body>
            </html></a>
    </footer>

</body>
</html>
